{% extends 'base.html' %} {% block content %} {% if announcements|length <= 0 %}
<p>No announcement available</p>

{% endif %}
<div class="d-flex flex-row flex-wrap justify-content-around p-4">
  {% for i in announcements %}
  <div class="card mb-3" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-4 text-center">
        <img
          style="
            width: auto;
            height: 200px;
            object-fit: cover;
            object-position: center;
          "
          src="{{i.image}}"
          alt="{{i.title}}"
          class="rounded img-card"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{i.title}}</h5>
          <p
            class="card-text"
            style="
              overflow: hidden;
              text-overflow: ellipsis;
              display: block;
              white-space: wrap;
              max-height: 3.6em;
              line-height: 1.8em;
            "
          >
            {{i.desc}}
          </p>
          <span class="d-flex flex-row align-items-center pb-2">
            <i
              class="fa-solid fa-location-dot fa-xl"
              style="color: green; margin-right: 10px"
            ></i>
            <p class="m-0 text-center">{{i.location}}</p>
          </span>
          <p class="card-text">
            <span class="d-flex flex-row justify-content-between">
              <a href="#" class="btn btn-outline-success mr-2 btn-sm"
                >Більше..</a
              >
              <a href="/delete/{{i.id}}" class="btn btn-outline-danger btn-sm">
                <i class="fa-regular fa-trash-can"></i>
              </a>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
